
/* ПАНЕЛЬ НАВИГАЦИИ */

    /* todo: фиксаните эту хуйню, чтобы она всегда была видимой */

#navpanel {
    background-color: #1f1f1f;
}

.navbar-header{
    padding-left: 5%;
    padding-right: 5%;
}

#logo {
    width: 120px;
    margin-top: -15px;
}

    /* цвет текста в навбаре (кроме выпадающего меню) */
li a {
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* ФОРМА ВХОДА ВНУТРИ ПАНЕЛИ НАВИГАЦИИ */
.dropdown-menu {    
    position: absolute;
    width: 300%;
}

.loginform {
    padding: 5% 100% 5% 10%;
    margin-left: 5%;
    margin-right: auto;
    width: 180%;
}


#enterUser, #enterDriver { 
    margin-top: 3%; 
    width: 100%; 
    margin-top: -10px; 
    margin-bottom: 10px; 
    text-align: center; 
}


/* КНОПКИ */

.btn-outlined {
    border-radius: 0px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.btn-outlined.btn-primary {
    background: none;
    border: 2px solid #ffbb11;
    color: #ffbb11;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #1f1f1f;
    background: #fff;
    border-color: #ffbb11;
}


/* КАРТА */

#map{
    width: 120%;
    height: 500px;
    background: #abcdef;
}

/* СТИЛЬ ЗАГОЛОВКОВ */

h1, h2{
    padding-left: 20%;
}

section {
    font-family: 'Oxygen', sans-serif;
}

p {
    padding-bottom: 0;
}

/* ФОРМА ЗАКАЗА ТУТ */

#result{
    padding-top: 4px;
    font-size: 20px;
    color: #ff6900;
    // тут предлагают голубенький цвет поставить, но я хз
    font-weight: bold;    
}

#total, #price{
    color: #5f5f5f;
}

#order {
    width: 150px;
    text-align: center;
}

#tariff {
    width: 172%;
    text-align: center;
}

#show-map {
    width: 150px;
}

#error-map {
    display: none;
    font-size: 11px;
    color: red;
    margin-left: -6.5%;
}

/* ПОЧЕМУ МЫ? */

.why-us {
    margin-top: 10px;
    margin-left: 5%;
}

.reasons {
    margin-top: 10px;
}

.reasons p {
    font-size: 20px;
}

/* УСЛУГИ */

.iconcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.iconbox {
  background: #ffffff;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
}
.iconbox-icon {
  background-color: #ffbb11;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: -70px;
}
.iconbox-icon span {
  color: #fff;
  font-size: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  text-align: center;
  vertical-align: middle;
}
.featureinfo h4 {
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.featureinfo > p {
  color: #000000;
  font-size: 16px;
  padding-top: 4px;
  text-align: left;
}
.btn-default {
  text-shadow: 0px 1px 0px #FFF;
  background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
  background-repeat: repeat-x;
  border-color: #CCC;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

.priceHighlighter {
    font-size: 16px;
    font-weight: 500;
    color: #ff6900;
}

/* ФУТЕР */

.footer-bs {
    background-color: #1f1f1f;
	padding: 10px 10px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0px;
    margin-top: 40px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    position: static;
    font-family: 'Oxygen', sans-serif;
}

footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { 
    font-size:12px; 
    color:rgba(255,255,255,0.70);
    margin-top: 100px;
}

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

#logo2 {
    width: 200px;
    margin-left: 8%;
}

.list {
    font-size: 0.7em;
}

.footer-bs .footer-ns .phonenumber {
    color: #ffbb11;
}

.footer-bs .footer-ns .phonetext {
    font-size: 16px;
}

.footer-bs .footer-ns .phonenumber-big {
    font-size: 32px;
    font-weight: 600;
    color: #ffbb11;    
    text-align: center;
}
/* _______________________________СТРАНИЦА С РЕГИСТРАЦИЕЙ________________________________________*/

.regwindow p {
    font-family: 'Oxygen', sans-serif; 
    font-size: 16px;
}

form p {
    font-size: 16px;
}

form {
    margin-left: 30%;
}

form button {
    margin-top: 10px;
    margin-left: 10%;
    width: 50%;
}

.form-group .cols-sm-10 .input-group .form-control{
    width: 100%;
    height: 40px;
}

.form-group .cols-sm-10 .input-group .input-group-addon {
    width: 40px;
    height: 40px;
}

#registration .btn {
    width: 75%;
}

#registration {
    margin-top: 8px;
}

.regimage {
    height: 450px;
    margin-left: 20%;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 13px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 30px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
    margin-left: auto;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
/* описание контейнера */
.leftbar-wrap {
  position: fixed; 
    height: 50%; 
    top: 15%; 
    left: 0; 
}
 
/* описание кнопки «Вверх» */
.left-controlbar {
  height: 70%;
  display: block;
  text-decoration: none;
}
 
/* описание столбца фонового цвета для обеих кнопок */
.active-area {
  width: 100px;
  height: 100%;
  display: block;
  text-align: center;
}
 
/* задаем прозрачность фонового цвета при наведении на активную область страницы */
.leftbar-wrap:hover .active-area {
  background: rgba(255, 187, 17, 0.2);
}
 
/* делаем подсветку немного ярче при наведении на надпись */
.leftbar-wrap .active-area:hover {
  background: rgba(255, 187, 17, 0.6);
}
 
/* центрируем надпись у кнопок */
.bar-desc {
  color: #1f1f1f;
  top: 40%;
  position: relative;
  display: inline-block;
}

.mycarousel-control {
  position: absolute;
  top: 40%;
    height: 110px;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=90);
  opacity: .66;
}
.mycarousel-control.left {
  background-image: none;
}
.mycarousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
}
.mycarousel-control:hover,
.mycarousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=100);
  outline: 0;
  opacity: 0.9;
}